langchain==0.0.131
python-dotenv
openai==0.27.0
uvicorn
pydantic==1.10.9

# uncomment to use huggingface llms
# huggingface-hub==0.14.1

# uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2
